.boxcenter{
    width: 80%;
    margin: 0px auto;
    
}
img{

   width: 40%;
   height: 400px;
   display: inline-block;
   border-radius: 12px;
   
}

.boxcenter{
   width: 80%;
   margin: 0px auto;
}
.boxleft{
   float: left;
   
   width:calc(70% - 20px);
   height: 600px;
   margin-right: 20px;
   margin-top: 50px;
   text-align: center;
}
.boxright{
   float: left;
 
   width: 30%;
   min-height: 600px;
}
.boxleft img{
   float: left;
   margin-top: 40px;
   margin-right: 25px;
   margin-bottom: 40px;
}
hr{
   clear: both;
}
a{
   text-decoration: none;
   font-size: 20pt;
   color: darkorange;
}
a:hover{
   color: gray;
}
span{
   font-size: 20pt;
   color: #e91e63;
}
p{
   font-size: 20pt;
   font-weight: 5px;
   justify-content: center;
}
.monon p{
   float: left;
}



.boxcenter img {
   width: 80%;
   height: 200px;
   display: inline-block;
   text-align: center;
}

.boxcenter{
    width: 813px;
}

.monan{
   float: left;
   padding: 20px;
   text-align: center;
   border-radius: 10px;
   /* border: 2px double ;*/
   margin: 10px;
}

.video{
   width: 100%;
   min-height: 500px;

}

.video iframe{
   border-radius: 15px;
   width: 800px;
   height: 500px;
}

aside{
   width: 70%;
   height: 100%;
   text-align: center;
}
h1{
   color: darkorange;
   font-size: 30pt;
   text-align: center;
}
.doan{
   font-size: 25pt;
}
.noidung{
   color: black;
   width: 60%;
   height: 200px;
   display: inline-block;
   border-radius: 12px;
}
Strong{
   color: darkorange;
}